#carrito-count {
    font-weight: bold;
    padding: 0.1em 0.6em;
    border-radius: 50%;
}

/* NavBar.css */
.fixed {
    position: fixed;
}

.transition-transform {
    transition: transform 0.3s ease-in-out;
}

.bg-black {
    background-color: black;
}

.bg-opacity-80 {
    background-color: rgba(0, 0, 0, 0.8);
}

.translate-y-full {
    transform: translateY(100%);
}

.translate-y-0 {
    transform: translateY(0);
}
