@import "transition-style";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #253652;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: #575d68b4;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575d68;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

/*------------------------------------------------*/

.parallax-container {
  position: relative;
}

.parallax-container > * {
  position: relative;
}

.App {
  position: relative;
}